<div class="final">
  <div class="song img">
    <img src="{{ music.src }}" alt="" />
  </div>
  <em *ngIf="music.MostWatched" class="music-badge">Mostwatched</em>
  <!-- Add this line for debugging -->

  <div class="name">
    <span class="song-name">{{ music.songname }}</span>
    <em>{{ music.releaseYear | date : "dd MMM YYYY" }}</em>
    <button (click)="toggle()" mat-icon-button aria-label="Expand-less">
      <mat-icon>expand_less</mat-icon>
    </button>
    <button class="info" (click)="gotoMusicDetail()">
      <mat-icon>info</mat-icon>
    </button>
    <span class="song-rating">⭐{{ music.songrating }}</span>
  </div>

  <p *ngIf="show">{{ music.songlyrics }}</p>
  <div class="delicons">
    <button
      (click)="deleteMusicById()"
      mat-icon-button
      color="accent"
      aria-label="Delete Music"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <button
      (click)="updatedMusic()"
      mat-icon-button
      color="warn"
      aria-label="Edit Music"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <app-like-dislike-counter
    [count]="music.like"
    [count1]="music.dislike"
    (LikeCount)="updateLike($event)"
    (DislikeCount)="updateDislike($event)"
  >
  </app-like-dislike-counter>
</div>
