<mat-toolbar class="new">
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>home</mat-icon>
      <button mat-button routerLink="/home">Home</button>
    </button>
    <button mat-menu-item>
      <mat-icon>library_music</mat-icon>
      <button mat-button routerLink="/music">Music</button>
    </button>
    <button mat-menu-item>
      <mat-icon>add</mat-icon>
      <button mat-button routerLink="/music/add">Add Music</button>
    </button>
  </mat-menu>
  <button mat-button routerLink="/" class="logo">Gaana</button>
  <mat-icon>music_video</mat-icon>
</mat-toolbar>
<div class="new">
  <nav>
    <ul>
      <li><a routerLink="/home">Home </a></li>
      <li><a routerLink="/music">Music</a></li>
      <li><a routerLink="/music/add">Add Music</a></li>
    </ul>
  </nav>
</div>
<!-- <app-music-page></app-music-page> -->
<!-- <app-music-album-counter></app-music-album-counter> -->

<router-outlet></router-outlet>
<footer></footer>
