<iframe
  class="videosong"
  width="100%"
  height="600"
  [src]="music.videosong"
  title="VIDEO SONG | Official MOTION SONG | aha"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen
></iframe>

<div class="fullscreen-image">
  <img src="https://i.makeagif.com/media/11-10-2019/G28xIn.gif" alt="" />
</div>
<div class="movie-detail-container">
  <div class="movie-details">
    <div class="movie-spec">
      <h4 class="movie-name">
        {{ music?.name }}
      </h4>
      <button (click)="toggle()" mat-icon-button aria-label="Expand-less">
        <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>
        <ng-template #moreIcon>
          <mat-icon>expand_more</mat-icon>
        </ng-template>
      </button>
      <div class="movie-genre-container">
        <mat-icon>sell</mat-icon>
        <p>{{ getLabelGenres(music)?.join(" · ") }}</p>
      </div>
      <p class="movie-rating">⭐ {{ music?.songrating }}</p>
    </div>
    <div class="movie-extra-detail">
      <em>{{ music?.releaseYear | date : "MMM YYYY" }}</em>
      <mat-chip>{{ music.censorRating }}</mat-chip>
      <div class="movie-language-container">
        <mat-icon>translate</mat-icon>
        <p>
          {{ getLabelLanguages(music)?.join(", ") }}
        </p>
      </div>
    </div>
    <p *ngIf="show" class="movie-summary">{{ music?.songlyrics }}</p>

    <div class="movie-cast-container">
      <mat-icon>theater_comedy</mat-icon>
      <p>Starring {{ music.cast?.join(", ") }}</p>
    </div>
  </div>
</div>
