<div
  [ngClass]="{ 'dark-theme': themeservice.isDarkTheme }"
  class="component-container"
>
  <mat-slide-toggle (change)="toggleTheme()">
    {{ themeservice.isDarkTheme ? "Dark Theme" : "Light Theme" }}
  </mat-slide-toggle>
  <form [formGroup]="searchForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Search Music</mat-label>
      <mat-icon matPrefix>search</mat-icon>
      <input
        formControlName="search"
        type="search"
        matInput
        placeholder="Ex. avara"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Sort By</mat-label>
      <mat-select (selectionChange)="onSortChange($event)">
        <mat-option value="songname">Name</mat-option>
        <mat-option value="songrating">Rating</mat-option>
        <mat-option value="releaseYear">ReleaseYear</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Order</mat-label>
      <mat-select (selectionChange)="onOrderChange($event)">
        <mat-option value="asc">Ascending</mat-option>
        <mat-option value="desc">Descending</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <!-- <div class="fullscreen-image">
    <img
      src="https://cdn.pixabay.com/photo/2017/10/11/23/35/musical-background-2842924_1280.jpg"
      alt=""
    />
  </div> -->
  <!-- <div>
    <button (click)="toggle()" mat-icon-button aria-label="Expand-less">
      <mat-icon *ngIf="show; else moreIcon">expand_less</mat-icon>
      <ng-template #moreIcon>
        <mat-icon>expand_more</mat-icon> -->
  <!-- </ng-template> -->
  <!-- </button> -->
  <!-- </div> -->
  <div
    class="content"
    appMusic
    apiEndpoint
    [pageSize]="4"
    [searchTerm]="searchTerm"
    (items)="onNewItems($event)"
    (loading)="onLoadingChange($event)"
    class="movie-list-container"
  >
    <app-music-page
      *ngFor="let nm of musiclist; let i = index"
      [music]="nm"
      [idx]="i"
      (rmmovieidx)="removemusic($event)"
    >
    </app-music-page>
    <div class="spinner-container" *ngIf="isLoading">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>
